article{
    .title-page{margin:120px 0 200px 0;}
    color: #3e3e3e;
    >a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: inherit;
    color: inherit;
        >figure{
            opacity: 0.5;
            margin: 0;
            @media only screen and (min-width: 960px) {margin: 0 40px;}
        }
    }

    >a.whatsapp{
        font-size: 1.5rem;
        @media only screen and (min-width: 1200px) {font-size: 2.10rem;}
        >div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media only screen and (max-width: 959px) {
                >div{
                    width: 100%;
                }
            }
        }
        img{
            width: 300px;
            height: 300px;
            position: absolute;
            margin: -150px 0 0 -200px;
            z-index: -1;
            opacity: 0.4;
        }
    }
    >a.telefone{
        font-size: 1.5rem;
        @media only screen and (min-width: 1200px) {font-size: 2.10rem;}
        text-align: center;
        @media only screen and (max-width: 959px) {
            display: flex;
            flex-direction: column-reverse;
        }
        @media only screen and (min-width: 960px) {padding-left: 145px;}
        >figure>img{
            width: 65px;
            height: 65px;
        }
    }
    >a.email{
        font-size: 1.5rem;
        @media only screen and (min-width: 1200px) {font-size: 2.10rem;}
        text-align: center;
        @media only screen and (min-width: 960px) {padding-right: 145px;}
        >figure>img{
            width: 65px;
            height: 65px;
        }
    }
    a.mapa{
        font-size: 1.25rem;
        @media only screen and (min-width: 1200px) {font-size: 1.5rem;}
        figure{
            width: 100%;
            >img{height: 50px;}
        }
    }

    @media only screen and (max-width: 959px) {> a > figure{width: 100%;}}

    a:link,a:visited{
        color: #3e3e3e;
    }

    .divisor{
        width: 100%;
        height: 2px;
        margin: 100px 0 100px 0;
        padding: 0 20%;
        >div{
            background-color: #333;
            width: 100%;
            height: 2px;
        }
    }
}

form{
    padding: 0 15%;
    font-size: 1.25rem;
    font-family: Amblas;
    >p{ margin: 50px 0;}
    >p.h1{ margin-bottom: 70px;}
    input[type="text"],input[type="email"],textarea{
        border: 4px #a1a6ab solid;
        max-width: 100%;
    }input[type="text"],input[type="email"]{
        height: 40px;
    }
    .Assunto > span {
        display: flex;
        flex-direction: column;
        > span{
            padding: 5px 0;
        }
    }
    textarea{
        width: 800px;
        max-width: 100%;
        height: 300px;
    }
    input[type="submit"]{
        background: #e0dfe6;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 1.3rem;
    }
}