article {
  color: #3e3e3e;
}
article .title-page {
  margin: 120px 0 200px 0;
}
article > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: inherit;
  color: inherit;
}
article > a > figure {
  opacity: 0.5;
  margin: 0;
}
@media only screen and (min-width: 960px) {
  article > a > figure {
    margin: 0 40px;
  }
}
article > a.whatsapp {
  font-size: 1.5rem;
}
@media only screen and (min-width: 1200px) {
  article > a.whatsapp {
    font-size: 2.1rem;
  }
}
article > a.whatsapp > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
article > a.whatsapp > div > div {
  padding: 10px 0;
}
@media only screen and (max-width: 959px) {
  article > a.whatsapp > div > div {
    width: 100%;
  }
}
article > a.whatsapp img {
  width: 300px;
  height: 300px;
  position: absolute;
  margin: -150px 0 0 -200px;
  z-index: -1;
  opacity: 0.4;
}
article > a.telefone {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  article > a.telefone {
    font-size: 2.1rem;
  }
}
article > a.telefone > figure > img {
  width: 65px;
  height: 65px;
}
article > a.telefone > div {
  padding: 10px 0;
}
article > a.email {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  article > a.email {
    font-size: 2.1rem;
  }
}
article > a.email > figure > img {
  width: 65px;
  height: 65px;
}
article > a.email > div {
  padding: 10px 0;
}
article a.mapa {
  font-size: 1.25rem;
}
@media only screen and (min-width: 1200px) {
  article a.mapa {
    font-size: 1.5rem;
  }
}
article a.mapa figure {
  width: 100%;
}
article a.mapa figure > img {
  height: 50px;
}
@media only screen and (max-width: 959px) {
  article > a > figure {
    width: 100%;
  }
}
article a:link, article a:visited {
  color: #3e3e3e;
}
article .divisor {
  width: 100%;
  height: 2px;
  margin: 250px 0;
  padding: 0 20%;
}
article .divisor > div {
  background-color: rgba(51, 51, 51, 0.3098039216);
  width: 100%;
  height: 2px;
}

form {
  padding: 0 15%;
  font-size: 1.25rem;
  font-family: Amblas;
}
form > p {
  margin: 50px 0;
}
form > p.h1 {
  margin-bottom: 70px;
}
form input[type=text], form input[type=email], form textarea {
  border: 4px #a1a6ab solid;
  max-width: 100%;
}
form input[type=text], form input[type=email] {
  height: 40px;
}
form .Assunto > span {
  display: flex;
  flex-direction: column;
}
form .Assunto > span > span {
  padding: 5px 0;
}
form textarea {
  width: 800px;
  max-width: 100%;
  height: 300px;
}
form input[type=submit] {
  background: #e0dfe6;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1.3rem;
}