.produtos-tags {
  grid-row: 2/3;
  padding: 0 10px;
<<<<<<< HEAD
  /*display: flex;*/
  display: none;
=======
  display: flex;
>>>>>>> origin/master
  justify-content: center;
  color: #3e3e3e;
}
@media only screen and (min-width: 1200px) {
  .produtos-tags {
    grid-column: 1/4;
    grid-row: auto;
  }
}
.produtos-tags > div > a > h2 {
  font-size: 1.5rem;
}
.produtos-tags a {
  text-decoration: inherit;
  color: inherit;
}
.produtos-tags a > h2 {
  text-align: center;
}
.produtos-tags li {
  display: inherit;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1200px) {
  .produtos {
<<<<<<< HEAD
    grid-column: 2/12;
=======
    grid-column: 4/13;
>>>>>>> origin/master
  }
}
.produtos .produto {
  text-decoration: none;
  color: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 50px 35px;
}
.produtos .produto h2 {
  width: 100%;
  text-align: center;
}
.produtos .produto img {
  object-fit: scale-down;
  width: auto;
  height: auto;
  max-height: 300px;
}