.produtos-tags {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3e3e3e;
}

@media only screen and (min-width: 768px) {
  .produtos-tags {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    grid-row: auto;
  }
}

.produtos-tags > div > a > h2 {
  font-size: 2rem;
}

.produtos-tags a {
  text-decoration: inherit;
  color: inherit;
}

.produtos-tags a > h2 {
  text-align: center;
}

.produtos-tags li {
  display: inherit;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .produtos {
    -ms-grid-column: 4;
    -ms-grid-column-span: 9;
    grid-column: 4/ 13;
  }
}

.produtos .produto {
  text-decoration: none;
  color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.produtos .produto h2 {
  width: 100%;
  text-align: center;
}

.produtos .produto img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: auto;
  height: auto;
  max-height: 300px;
}
